<!-- Toolbar -->
<div class="container-fluid pt-3 user-flow" role="main">
  <!-- user-flow card -->
  <div class="row">
    <div class="col-sm-12 px-0">
      <div class="card">
        <div class="card-header fw-500">Entity Level Lineage</div>
        <div class="card-body">
          <!-- if data not loading -->
          <form class="form-inline my-2 my-lg-0">
            <input
              #node
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              (click)="onSearch(node.value)"
              class="btn btn-outline-success my-2 my-sm-0"
              type="button"
            >
              Search
            </button>

            <button
              (click)="onClear()"
              class="btn btn-outline-success my-2 my-sm-0"
              style="margin-left: 2px"
              type="button"
            >
              Clear
            </button>
          </form>
          <br />
          <perfect-scrollbar
            [hidden]="isFetchingUserFlowData"
            class="col-sm-12 scroll-container border"
            [scrollIndicators]="true"
          >
            <!-- data found -->
            <div
              [hidden]="!userFlowData.nodes.length"
              id="sankey"
              class="p-1 pb-3"
            ></div>
            <!-- data not found -->
            <div [hidden]="userFlowData.nodes.length">
              <div class="d-flex justify-content-center">No data found</div>
            </div>
          </perfect-scrollbar>
          <!-- if data loading -->
          <div [hidden]="!isFetchingUserFlowData">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->

<table *ngIf="clicked" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Columns</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nodeData; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td class="sortable" (click)="onClick(data)">
        {{ data }}
      </td>
    </tr>
  </tbody>
</table>
